body {
  font-family: "Courier New", Courier, monospace;
}
p {
  color: white;
}
.red {
  display: block;
  background-color: red;
}
.green {
  display: inline;
  background-color: green;
}
.blue {
  display: inline-block;
  background-color: blue;
}

.test-box div {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-style: dotted;
  border-width: 2px;
  border-color: lightslategrey;
  border-radius: 10px;
}

.test-box div p {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.test-box h1 {
  text-align: center;
  color: rgb(6, 100, 100);
  margin: 5px 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  gap: 10px;
  border-radius: 10px;
}
.container div.display {
  background-color: rgb(1, 218, 211);
  border-radius: 10px;
}
.container div.display::hover {
  background-color: rgb(144, 197, 124);
}
.container div.display div {
  padding: 5px;
}
.slider {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 5px;
  margin: 5px;
}
#footer {
  color: #777;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.footer-logo {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 610px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 5px;
    gap: 10px;
  }
  .container div.display {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
